body {
  background-color: #f8f8ff;
  transition-duration: 0.4s;
}

.arrow {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 15px;
  transition-duration: 0.4s;
}

.arrow:hover {
  border: solid gray;
  border-width: 0 15px 15px 0;
}

#right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: fixed;
  left: 96%;
  top: 45%;
}

#left {
  display: none;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: fixed;
  right: 96%;
  top: 45%;
}

#title {
  text-align: center;
  font-size: 35px;
  font-family: "calibri", sans-serif;
  text-decoration: underline;
}

.images-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 725px;
}

#circle-diagram {
  display: block;
  width: 360px;
  float: left;
}

#circle-diagram2 {
  display: none;
  width: 360px;
  float: left;
}

#formula-image1 {
  display: block;
  position: relative;
  top: 110px;
  left: 50px;
  width: 300px;
  float: left;
}

#formula-image2 {
  display: none;
  position: relative;
  top: 135px;
  left: 50px;
  width: 300px;
  float: left;
}

#area-input-section {
  width: 30%;
  border: 2px solid black;
  margin-left: 300px;
  float: left;
  padding: 5px;
  background-color: #628395;
  column-count: 2;
  column-gap: 2px;
}

.value-header {
  text-align: center;
  font-size: 100px;
  font-family: "palatino", serif;
  padding: 20px 0;
  margin-bottom: -10px;
  margin-top: -10px;
  color: whitesmoke;
}

#d-input {
  margin-top: 45px;
  text-align: center;
}

#area-calculate-button {
  position: relative;
  left: 80px;
  top: 25px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: "calibri", sans-serif;
  background-color: gold;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 9px #4085f5;
  transition-duration: 0.1s;
}

#area-calculate-button:hover { background-color: yellowgreen; }

#area-calculate-button:active {
  background-color: yellowgreen;
  box-shadow: 3px 5px #2f64ba;
  transform: translateY(4px);
}

#radius {
  display: none;
  font-size: 20px;
  font-family: "palatino", serif;
}

#area-result-section {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid black;
  background-color: mediumturquoise;
}
